@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
*{
	font-family:'Noto Sans TC', sans-serif;
	font-weight: 300;
	margin:0;
	padding:0;
	/*list-style:none;*/
}

.wrap{
	/*width: 1200px;*/
	margin: auto;
	background-color: #FFF6E5;
}

.main-header{
	background-color: #F84C48;
	height: 60px;
}

.main-header img{
	width: 300px;
	height: auto;
	margin-left: 30px;
}


/*banner*/
.banner{
	padding: 100px 0;
	text-align: center;
	background: url(img/kv_bgimage.jpg);
	background-repeat: no-repeat;
	background-position:left top;
	background-size:100%;
}

.banner h1{
	/*font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;*/
	font-size: 60px;
	color: #F84C48;
	/*padding-top: 100px;*/
}
.banner h2{
	font-size: 40px;
	color: #007D7D;
}
.txt-banner{
	margin-bottom: 40px;
}
.promise{
	margin-bottom: 10px;
	color: #BE892B;
	font-size: 24px;
}
.promise span{
	font-size: 36px;
	font-weight: 500;
}
.promise img{
	width: 60px;
	height: 60px;
}
.promise li{
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-apply{
	margin: auto;
	margin-bottom: 10px;
	font-size: 30px;
	/*border: solid 10px rgba(255, 0, 0, .1);*/
	color: #fff;
	background-color: #F84C48;
	border-radius: 40px;
	width: 300px;
	height: 80px;
	line-height: 80px;
}

.banner h3:last-of-type{
	font-size: 28px;
	/*margin-top: 10px;*/
}



.index-form{
	margin-top:-500px;
	border-radius: 20px;
	padding: 50px 0;
	text-align: center;
	background-color: #FEEBDB;
	width: 960px;
	margin: auto;
}
.index-form h2{
	font-size: 30px;
	font-weight: 500;
	color: #007D7D;
}

.index-form p{
	font-size: 20px;
	color: #534741;
}

/*.index-form form{
	display: flex;
	flex-direction: column;
}*/





.index-form label > span{
	float: left;

}

.index-form .required{
	display: block;
	color: #F84C48;
	font-size: 14px;
}

.quesion input{
	border:none;
	width: 580px;
	height: 45px;
	border-radius: 5px;
	padding-left: 25px;
}

.quesion input:focus{
	outline: none;
}
.quesion ::-webkit-input-placeholder { 
	color: #B8B8B8; 
}

.quesion{
	margin-top: 50px;
}

.input{
	margin-bottom: 30px;
	margin-left: 50px;
}

.btn-confirm{
	padding: 10px 65px;
	margin: auto;
	background-color: #F84C48;
	display: inline-block;
	border-radius: 40px;
	
}
.btn-confirm h2{
	color: #fff;
	font-size: 30px;
}

.index-form p:last-child{
	margin: auto;
	font-size: 14px;
	color: #534741;
	padding-top: 10px;
}

.planing{
	width: 100%;
	
	/*margin: auto;*/
}

.planing h2{
	text-align: center;
	margin-top: 50px;
	font-size: 40px;
	color: #007D7D;
	font-weight: 500;
}

.planing h5{
	text-align:center;
	font-size: 22px;
	color: #534741;
	margin-bottom: 50px;
}


.feature img{
	width: 20%;
}
.feature{
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}


.photogrid{
	width: 100%;
	display: flex;
	flex-wrap:wrap; 

}

.title-grid{
	position: absolute;
	top:50%;
  	left: 50%;
  	margin-left: -150px;
  	margin-top: -125px;
	width: 300px;
	height: 253px;
	padding: 20px;
	/*box-sizing: border-box;*/
	border-radius: 20px;
	text-align: center;
	background-color: rgba(255,255,255,.7);
}

.title-grid span{
	display: block;
}

.item{
	position: relative;
	width: 50%;
}

.item img{
	width: 100%;
	display: block;
}
.item h2{
	font-size: 40px;
	color:#F84C48;
}

.item p{
	font-size: 18px;
	color: #534741;
	margin-bottom: 10px;
}

.item h5{
	font-size: 22px;
	color: #007D7D;
}

.btn-grid{
	margin: 55px auto;
	border-radius: 50px;
	text-align: center;
	line-height: 45px;
	font-size: 18px;
	color: #fff;
	width: 180px;
	height: 45px;
	background-color: #F84C48;

}

.btn-grid a{
	color: #fff;
	text-decoration: none;
}



.authority{}
.title-authority{
	text-align: center;
	padding: 50px 0;
}
.title-authority h2{
	font-weight: 500;
	color: #007D7D;
	font-size: 40px;
}
.title-authority p{
	color: #534741;
	font-size: 22px;
}
.feature-authority{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}
.feature-authority >.item img{
	width: 90px;
	height: 90px;
}

.feature-authority .item{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.feature-authority .item h3{
	font-size: 40px;
	color: #F84C48;
	font-weight: 500;
}

.feature-authority .item p{
	font-size: 22px;
	color: #F84C48;
	font-weight: 500;
}


.learnmore{
	background-color: #F84C48;
	padding: 100px 0;
	text-align: center;
}

.title-more{

	color: #FEEBDB;
}

.title-more h2{
	font-size: 40px;
	font-weight: 500;
}

.title-more p{
	font-size: 22px;
}

.btn-more a{
	color: #007D7D;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 2px;
	
}

.btn-more{
	margin-top: 20px;
	border-radius: 50px;
	padding: 10px 55px;
	display: inline-block;
	background-color: #FEEBDB;
}

.maintitle-aims{
	text-align: center;
}
.aims-part1{
	text-align: center;
}
.aims-part2{
	display: flex;
	justify-content: center;

}

.aims-part2 .list{
	list-style: decimal;
	padding-right: 100px;
}
